@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head {
  color: white;
  padding: 7px 0px 7px 5%;
}
.store {
  margin-right: 50px;
}
.menu-header {
  display: flex;
  padding: 0px 5% 0px 5%;
  background-color: red;

}
.menu-header img {
  width: 100px;
  height: 100px;
}
.profiledetails {
  padding: 5px;
}
/* .left-menu {
  float: right !important;
} */
